<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/vec.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap Icons (optional) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Itim&display=swap">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #f8f9fa;
            margin: 0;
            font-family: 'Itim';
        }
        .dropdown-menu {
            width: 100%;
        }
        .btn-cool {
            background-color: #4CAF50; 
            color: white; 
            border: 2px solid #4CAF50;
            padding: 10px 20px;
            border-radius: 5px; 
            font-size: 16px; 
        }
        .dropdown-menu {
            background-color: #ffffff;
        }
        #select-vech {
            font-size: 32px;
            font-weight: bold;
        }
    </style>        
    <title>Settings</title>
</head>
<body>

    <div class="container mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Settings...</h1>
            <div class="form-floating" id="logoutButton">
                <button type="button" class="btn btn-danger">X</button>
            </div>
        </div>
        <br>
        <div class="container-fluid" style="background-color: #F5F5F5; padding: 20px;">
            <form id="main-form" name="main-form" action="/setting" method="POST" class="mb-3">
                <div class="dropdown d-inline-block mr-2 full-width-dropdown">
    
                    <div class="mb-3">
                        <label for="vehicle" class="form-label" id = "select-vech">Select Vehicle</label>
                        <select class="form-select" id="vehicle-select" name="vehicle-select" required>
                            {% for plate in options %}
                                <option value="{{plate}}">{{plate}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="d-flex">
                    <input type="text" class="form-control mr-2" placeholder="ระดับชั้น" id="class" name="class">
                    <input type="text" class="form-control mr-2" placeholder="ห้อง" id="subclass" name="subclass">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            <br>
            <form id="sub-form" name="sub-form" action="/sendchb" method="POST" class="mb-3">
                <div class="row">
                    <div class="col-md-12">
                        <h2><strong>รายชื่อนักเรียน : </strong></h2>
                        <input type="hidden" name="plate-hidden" value="{{plate_hidden}}">
                        <input type="hidden" name="class-hidden" value="{{class_hidden}}">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">เลขที่</th>
                                    <th scope="col">ชื่อ</th>
                                    <th scope="col">สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in data.items() %}
                                    <tr>
                                        <th scope="row">{{ key }}</th>
                                        <td>{{ value[0] }}</td>
                                        <td>
                                            <input type="hidden" name="checkbox_name_{{key}}" value="{{ key }}">
                                            <input type="checkbox" name="status_checkbox_{{key}}" id="checkbox-{{ key }}" {% if value[1] %}checked{% endif %}>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container d-flex justify-content-between">
            <a class="nav-link" id="deleteButton">
                <i class="bi bi-trash" style="color: red;"></i>
            </a>
         <a class="nav-link" >
                <i class="bi bi-upload" style="color: blue;" id="uploadButton"></i>
            </a>
            <a id="sendButton" class="nav-link">
                <i class="bi bi-send" style="color: green;"></i>
            </a>
        </div>
    </nav>
    <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Upload Vehicle Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/upload" method="POST" id="addPicture" enctype="multipart/form-data">
                        <div class="mb-3">
                            <h3>Select Vehicle</h3>
                            <select class="form-select" id="vehicle-select" name="vehicle-select" required>
                                {% for plate in options %}
                                    <option value="{{plate}}">{{plate}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="imageUpload" class="form-label">Choose Image File</label>
                            <input type="file" class="form-control" id="imageUpload" name="imageUpload" accept="image/*">
                        </div>
                        <button type="submit" class="btn btn-success">Upload</button>
                    </form>
                </div>                
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Vehicle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/deleteVehicle" method="POST" id="deleteVehicleForm">
                        <div class="mb-3">
                            <h3>Select Vehicle to Delete</h3>
                            <select class="form-select" id="deleteVehicleSelect" name="deleteVehicleSelect" required>
                                {% for plate in options %}
                                    <option value="{{plate}}">{{plate}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <p>Are you sure you want to delete this vehicle?</p>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>                
            </div>
        </div>
    </div>    
    <script>
        document.getElementById('uploadButton').addEventListener('click', function () {
            var myModal = new bootstrap.Modal(document.getElementById('uploadModal'));
            myModal.show();
        });
        document.getElementById('deleteButton').addEventListener('click', function () {
            var myModal = new bootstrap.Modal(document.getElementById('deleteModal'));
            myModal.show();
        });
        document.getElementById('sendButton').addEventListener('click', function () {
            document.getElementById('sub-form').submit();
        });
        document.getElementById('logoutButton').addEventListener('click', function(event) {
            event.preventDefault(); 
            window.location.href = "/";
        });
        
    </script>
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
