<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/vec.png') }}">
    <!-- Bootstrap Icons (optional) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Itim&display=swap">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #f8f9fa;
            margin: 0;
            font-family: 'Itim', sans-serif;
        }
        .container-fluid {
            background-color: #F5F5F5;
            text-align: center; /* Center the text within the container-fluid */
            padding: 20px; /* Add padding for better visual appeal */
        }
        header {
            padding: 10px;
            background-color: #343a40;
            color: #fff;
            text-align: center;
        }
        .table-container {
            margin-top: 20px; /* Add margin to separate tables */
        }
    </style>
</head>
<body>
    <div class="col-6" id="logoutButton">
        <button class="btn btn-danger">Back</button>
    </div>
    <div class="container-fluid">
        <div class="table-container">
            <div class="col-md-12">
                <h2 style="color : green"><strong>รายชื่อนักเรียนที่อยู่บนรถ</strong></h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">เลขที่</th>
                                <th scope="col">ชื่อ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in up_member.items() %}
                            <tr>
                                <th scope="row">{{key}}</th>
                                <td>{{value}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <br><br><br>
            <div class="col-md-12">
                <h2 style="color : red" ><strong>รายชื่อนักเรียนที่ไม่ได้อยู่บนรถ</strong></h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">เลขที่</th>
                                <th scope="col">ชื่อ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in down_member.items() %}
                            <tr>
                                <th scope="row">{{key}}</th>
                                <td>{{value}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <br><br><br>
            <div class="col-md-12">
                <h2 style="color : gray" ><strong>รายชื่อนักเรียนที่ไม่ทราบ</strong></h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">เลขที่</th>
                                <th scope="col">ชื่อ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in unknow_member.items() %}
                            <tr>
                                <th scope="row">{{key}}</th>
                                <td>{{value}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('logoutButton').addEventListener('click', function(event) {
            event.preventDefault(); 
            window.location.href = "/";
        });
    </script>
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
